body {
    font-family: "Quicksand" !important;
}
.notification {
    background-color: #000070;
    color: #fff;
    height: 38px;
    width: 38px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    border-radius: 15px;
    top: -10px;
    left: 38px;
    padding: 2px;
}
.menu-categories span {
    color: white;
}
.primary-color {
    color: #000070;
}
.menu-categories .menu.active span {
    color: #000070 !important;
}
.list-cards-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 50px;
}
.search-giftcard {
    background: rgba(214, 214, 224, 0.459);
    color: #fff;
    border-radius: 30px;
}
.list-cards-search .search-icon,
.list-cards-search .giftcard.search-icon {
    position: absolute;
    right: 14.4em;
    top: 2.8em;
}
.card-type__sell-card,
.card-type__sell-card:hover {
    background-color: #000070;
    color: #ffffff;
    border-radius: 25px;
    padding: 2px 22px;
}
.card-type__buy-card {
    border: 1px solid #000070;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 2px 22px;
}
.walletbalance-text {
    color: rgba(0, 0, 112, 0.75);
    opacity: 0.5;
}
.price {
    color: rgba(0, 0, 112, 0.75);
    font-size: 30px;
    font-style: normal;
}
.select-country-custom-select {
    width: 85%;
    height: 35px;
    opacity: 0.25;
    border: 1px solid #000070;
    border-radius: 5px;
}
.select-card-add-button {
    background: #000070;
    border-radius: 5px;
    border: 0;
    color: #ffffff;
    width: 110px;
    padding: 5px 0;
}
.transaction-title {
    color: rgba(0, 0, 112, 0.75);
    font-size: 18px;
    font-weight: 500;
}
.transaction-subtitle {
    font-size: 12px;
    color: rgba(0, 0, 112, 0.75);
    opacity: 0.7;
}
.transaction-title_bottomborder {
    border: 1px solid #efeff8;
    width: 98%;
    height: 0px;
}
.table_card_title th {
    font-size: 14px !important;
    text-align: center !important;
}
.decrement-icon,
.increment-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #000070;
}
.price-percard-text {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 112, 0.75);
}
.price-percard_display {
    font-size: 18px;
    color: #000070;
    opacity: 0.7;
}
.label-style {
    color: rgba(0, 0, 112, 0.75);
    font-size: 14px;
    line-height: 10px;
    font-weight: 500;
}
.allcards-container {
    box-sizing: border-box;
    border: 1px solid #c9ced6;
    border-radius: 10px;
    width: 100%;
    height: 320px;
    padding: 0px 5px;
}
.allcards-container .table-borderless thead tr th {
    color: rgba(0, 0, 112, 0.75);
    opacity: 0.5;
    font-size: 10px;
}
.gradient-text {
    color: rgba(0, 0, 112, 0.75);
    line-height: 30px;
    font-size: 16px;
}
.proceed-button {
    width: 120px;
    color: #fff;
    font-size: 16px;
    background: linear-gradient(180deg, #000070 10%, #5c23ba 100%);
    border-radius: 5px;
}
.card-upload-btn {
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: 18px;
    width: 180px;
    background: linear-gradient(180deg, #000070 0%, #240070 100%);
    border-radius: 30px;
    margin: auto 35%;
}
.thumb {
    width: 120px;
    height: 100px;
}

.zoom {
    transition: transform 0.2s; /* Animation */
}

.zoom:hover {
    position: relative;
    top: -230px;
    width: 480px;
    height: 320px;
    transform: scale(
        1.5
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.removeitem {
    cursor: pointer;
}
.button-modal {
    display: none;
}
.modal-dialog-custom {
    width: 50vw;
    margin: 90px 25%;
}
.modal-content-custom {
    width: 50vw;
}
.dashed-border {
    width: 80%;
    border: 1px dashed #000000;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
.previewImg {
    width: 100%;
    margin: 0;
    padding: 0;
}
.form-control:disabled,
.form-control[readonly] {
    background-color: #fff !important;
    box-shadow: none !important;
}
::-webkit-scrollbar {
    display: none;
}
.buy-sell-title {
    /* width: 300px;
    height: 40px;
    border: 1px solid rgba(0, 0, 112, 0.2);
    border-radius: 30px; */
    width: 250px;
    height: 40px;
    border: 1px solid rgba(0, 0, 112, 0.2);
    border-radius: 25px;
}
.buy-sell-title .active-title-item {
    background: #000070;
    text-align: center;
    box-shadow: -2px 0px 2px rgba(0, 0, 112, 0.3);
    border-radius: 25px;
}
.bitcoin-input-radius {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 30px;
}
.bitcoin-input-radius {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    outline: none !important;
    box-shadow: none !important;
}
.full-input-radius {
    border-radius: 5px;
    border-radius: 25px;
    outline: none !important;
    box-shadow: none !important;
}
.label_text {
    color: rgba(0, 0, 112, 0.75);
}
.calculator_form {
    width: 460px;
}
.network_cards {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(166, 166, 166, 0.25);
}
.network_card_container {
    width: 600px;
}
.list_all_cards {
    height: 110px;
    width: 350px;
    box-shadow: 0px 2px 10px rgba(166, 166, 166, 0.25);
    border-radius: 10px;
}
.list_all_cards .sell_button {
    border: 1px solid rgba(0, 0, 112, 0.8);
    background: rgba(0, 0, 112, 0.8);
    border-radius: 25px;
}
.list_all_cards .buy_button {
    border: 1px solid #000070;
    box-sizing: border-box;
    border-radius: 25px;
}
.input-group-text.input_label {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.bitcoin_calculator_btn {
    font-weight: 600;
    letter-spacing: 0.6px;
    background: #000070;
    border-radius: 5px;
    height: 40px;
}

/* New profile page css code */
.profile_card_content {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 0px;
}
.shadow_bg {
    margin-top: 70px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 112, 0.07) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    height: 60px;
    width: 100%;
}
.profile_root_container {
    height: 640px;
    max-height: 650px;
}
.profile_image_root_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    margin-left: 30px;
    height: 610px;
    /* height:500px; */
}
.profile_image_root_container .profile_image {
    height: 140px;
    width: 140px;
    border: 1px;
    border-radius: 70px;
}
.profile_image_container {
    position: relative;
    top: -100px;
}
.camera_button {
    cursor: pointer;
    background: #2b2b84;
    height: 40px;
    width: 40px;
    border: 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -30px;
    left: 97px;
}
.wallet_balance_section {
    position: relative;
    top: -100px;
    background: rgba(0, 0, 112, 0.75) !important;
    width: 220px;
    color: #fff;
    text-transform: uppercase;
}
.profile_image_root_container .btc_wallet_balance,
.profile_image_root_container .eth_wallet_balance {
    background: #fff;
    width: 180px;
    max-width: 190px;
    height: 60px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.profile_details .nav-tabs .active {
    border-radius: 0;
    margin: 0;
    padding: 0px;
    background: linear-gradient(180deg, #000070 0%, #2146c7 100%) !important;
}
.profile_details .nav-tabs .active:hover {
    color: #fff !important;
}
.user_profile_text {
    color: rgba(0, 0, 112, 0.75);
    font-size: 16.5px;
    line-height: 29px;
    letter-spacing: 0.01em;
}
.profile_verification_status_text {
    border: 1px;
    border-radius: 80px;
    font-size: 14px;
    background-color: #fff;
    color: #ff001f;
    width: 180px;
}
.profile_details_col {
    height: 70px;
    width: 100%;
    color: rgba(0, 0, 112, 0.75);
}
.profile_select_bank {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 112, 0.75);
}
.upload_id_column {
    background: #00b9cd;
    border-radius: 10px;
    color: #fff;
    height: 65px;
}
.upload_id_column .upload_id_text {
    border: 1px solid #fff;
    border-radius: 30px;
    background: #fff;
    color: #000070;
    width: 160px;
}
.wallet_balance_section .labelText {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}
.wallet_balance_section .details {
    background-color: #fff;
    border-radius: 80px;
    width: 180px;
    height: 35px;
    color: rgba(0, 0, 112, 0.75);
    line-height: 24px;
    letter-spacing: 0.01em;
    font-weight: 600;
}
.changepassword_text {
    color: rgba(0, 0, 112, 0.75);
    letter-spacing: 0.01em;
    font-size: 16px;
    font-weight: 600;
}
.changePasswordLabelText {
    letter-spacing: 0.01em;
    color: rgba(0, 0, 112, 0.6);
    margin-bottom: 0px;
    padding: 0px;
}
.form-control {
    outline: none !important;
    box-shadow: none !important;
}
.card-price-input {
    position: relative;
    left: -45px;
}
.card-qty-input {
    position: relative;
    right: -18px;
}
.increment-icon-sizing {
    position: relative;
    left: -15px;
}
.price-per-card-text {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 112, 0.75);
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #c9ced6;
    background-color: #c9ced6;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #000070 !important;
    transform: translateX(0.75rem);
}
input {
    box-shadow: none !important;
    outline: none !important;
}
.custom-switch .custom-control-label::before {
    width: 31px;
    background-color: #c9ced6;
}
.custom-switch .custom-control-label::after {
    top: 2px;
    left: -35px;
    width: 18px;
    height: 18px;
    background-color: #000070;
    border-radius: 0.5rem;
    transition: transform 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.notifications-container {
    margin-top: 60px;
    width: 520px;
    box-shadow: 0px 4px 10px rgba(239, 239, 248, 0.5);
    border-radius: 10px;
}
.transaction-sms-notification {
    color: #000070;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    right: 100px;
}
.transaction-email-alert {
    color: #000070;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    right: 122px;
}
.transaction-sms-notification2 {
    color: #000070;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    right: 100px;
}
.transaction-email-alert2 {
    color: #000070;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    right: 122px;
}
.accordion_cards {
    cursor: pointer;
    height: 70px;
    width: 350px;
    box-shadow: 0px 2px 10px rgba(207, 207, 207, 0.25);
    border-radius: 8px;
    color: #000070;
    font-size: 16px;
    line-height: 20px;
}
.accordion_arrow_rotate {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transition: transform 0.5s;
}
.accordion_arrow_return {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transition: transform 0.5s;
}
.select_dial_code {
    outline: none !important;
    box-shadow: 0px !important;
    border-radius: 5px;
    height: 40px;
    /* width: 30px; */
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.dial_code_input {
    outline: none !important;
    box-shadow: 0px !important;
    border-radius: 5px;
    height: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.otp_code_input {
    outline: none !important;
    box-shadow: 0px !important;
    border-radius: 5px;
    height: 40px;
    /* width:185px !important; */
}
.input-group-prepend,
.custom-select {
    outline: none !important;
    box-shadow: none !important;
    outline-style: none !important;
}
.address_verification_labelText {
    color: #000070;
    width: 80%;
    font-size: 14px;
}
.upload_address_photo {
    cursor: pointer;
    border: 0.5px dashed #676b87;
    border-radius: 5px;
    width: 175px;
    height: 70px;
}
.select_id_type_dropdown,
.select_id_type_dropdown:hover,
.select_id_type_dropdown:focus,
.select_id_type_dropdown:visited {
    width: 95%;
    height: 45px;
    background-color: #fff;
    border: 0.5px solid #676b87;
    color: rgba(0, 0, 112, 0.7);
    font-size: 14px;
    line-height: 17px;
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: rgba(0, 0, 112, 0.7);
    background-color: #fff !important;
    border: 0.5px solid #676b87 !important;
}
#bvnVerification .dropdown-menu.show {
    width: 95%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.front_photo_card_box {
    cursor: pointer;
    border: 0.5px dashed #676b87;
    border-radius: 5px;
    width: 110px;
}
.front_photo_card_text {
    color: #000070;
    font-size: 10px;
    letter-spacing: 0.01em;
    font-weight: 300;
}
/* New profile page css code ends here */

/*New Dashboard CSS starts */

.user_dashboard_container .card {
    border-radius: 20px;
    padding: 4%;
    padding-bottom: 1%;
    background-color: white;
    margin: 0px;
}

.user_dashboard_container img {
    width: 80%;
    height: 80%;
    padding-bottom: 0px;
    align-items: end;
}

.user_dashboard_container h5 {
    font-size: 50px;
}

.user_dashboard_container h4 {
    font-size: 16px;
}

.user_dashboard_container #heat {
    width: 50%;
    height: 50%;
    margin: auto;
}

.user_dashboard_container col {
    border: 0px;
}

.user_dashboard_container #line {
    border: 0px;
}

.user_dashboard_container #description {
    font-size: 10px;
    color: #676b87;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
}

.user_dashboard_container h3 {
    font-size: 24px;
    font-weight: bolder;
    color: black;
}

.user_dashboard_container button {
    background-color: #000070;
    border: 0px;
    color: white;
    border-radius: 25px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}

.user_dashboard_container table {
    background-color: white;
    border-radius: 20px;
    color: #000070;
    font-size: 13px;
}

.user_dashboard_container #headingtab {
    color: #000070;
    font-size: 20px;
    font-weight: bolder;
}

.asset_card_container {
    box-shadow: 0px 2px 10px rgba(207, 207, 207, 0.25);
    border-radius: 10px;
    width: 180px;
    height: 220px;
}
.asset_card_title {
    color: #000070;
    font-size: 16px;
}
.asset_card_description {
    color: #676b87;
    font-size: 12px;
    margin-top: 4px;
}

.user_dashboard_container table {
    background-color: white;
    border-radius: 20px;
    color: #000070;
    font-size: 13px;
}

.user_dashboard_container #headingtab {
    color: #000070;
    font-size: 20px;
    font-weight: bolder;
}

.user_dashboard_container #descript {
    font-size: 10px;
}
.transaction_content {
    font-weight: bold;
    font-size: 14px;
}
.ngn_amount {
    font-size: 12px;
    color: #676b87;
    line-height: 15px;
}
tr:nth-child(odd) {
    background: #fff !important;
}
tr:nth-child(even) {
    background: #f6f6fc !important;
}
.status_inprogress {
    background: #fff1ce;
    border-radius: 15px;
    color: #ffb800;
    padding: 5px 10px;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    width: 80px;
    text-align: center;
}
.status_declined {
    background: #eeb3b3;
    border-radius: 15px;
    color: #ff001f;
    padding: 5px 10px;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    width: 80px;
    text-align: center;
}
.status_success {
    background: rgba(115, 219, 158, 0.3);
    border-radius: 15px;
    color: #219653;
    padding: 5px 10px;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    width: 80px;
    text-align: center;
}
.status_waiting {
    background: rgba(103, 107, 135, 0.3);
    border-radius: 15px;
    color: #676b87;
    padding: 5px 10px;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    width: 80px;
    text-align: center;
}
.transaction_view_link {
    color: #000070 !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.canvasjs-chart-credit {
    display: none !important;
}
.modal-content-custom.quickrecharge_modal {
    border: 1px solid #fff;
    border-radius: 10px;
    width: 600px;
    margin-left: -90px;
}
.quickcard_networks {
    cursor: pointer;
    width: 150px;
    height: 150px;
    box-shadow: 0px 2px 10px rgba(207, 207, 207, 0.25);
    border-radius: 5px;
    margin: auto 6px;
}
.amount_to_recharge .dropdown-toggle:empty::after {
    margin-left: 90%;
}
.amount_to_recharge .dropdown-menu.show {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.wdselectamount {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}
.wdbtn {
    background: #000070;
    border-radius: 5px;
    background: #000070;
    border-radius: 5px;
    width: 130px;
    height: 45px;
    letter-spacing: 0.01em;
    position: relative;
    left: 37%;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 15px;
}
.list_assets {
    width: 47.5em;
}
.list_assets-card {
    height:270px;
}
.recent_transactions {
    height: 350px;
}
.budget_card {
    width: 22.5em;
}

/*New Dashboard CSS Ends */











@media (max-width: 500px) {
    .budget_card {
        width: 100%;
    }
    .recent_transactions {
        height: 100%;
    }
    .asset_card_container {
        margin: 10px auto;
        width: 90%;
    }
    .list_assets-card {
        height:100%;
    }
    .list_assets {
        width: 100%;
    }
    .allcards-container {
        height: 100%;
    }
    .increment-icon-sizing {
        position: relative;
        left: -4px;
    }
    .card-image .giftcard_image {
        width: 90%;
        height: 110px;
    }
    .cctype_container {
        margin-top: 5em !important;
    }
    .list-cards-search .giftcard.search-icon {
        position: absolute;
        right: 0;
        left: 2.3em;
        top: 6.4em;
    }
    .list_all_cards {
        height: 160px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0px 2px 10px rgba(166, 166, 166, 0.25);
        border-radius: 10px;
        margin: 10px 0;
    }
    /* .listcard_images {
        height:55px;
        width: 90px;
    } */
    .network_card_container {
        width: 100%;
    }
    .network_cards {
        width: 100px;
        height: 100px;
    }
    .calculator_form {
        width: 100%;
    }
    .buy-sell-title {
        width: 100%;
    }
    .zoom:hover {
        top: -150px;
        width: 95%;
        height: 50%;
    }
    .thumb {
        width: 80px;
        height: 70px;
    }
    .dashed-border {
        width: 97%;
    }
    .card-upload-btn {
        margin: 0 15%;
    }
    .modal-dialog-custom {
        width: 97%;
        margin: 90px 10px;
    }
    .modal-content-custom {
        width: 97%;
    }
    .widget-chart-one {
        padding: 25px 10px;
    }
    .card-price-qty {
        height: 100% !important;
    }
    .card-price-input {
        position: relative;
        left: 0;
        margin: auto;
    }
    .card-qty-input {
        position: relative;
        margin: auto;
    }
    .card-image {
        height: 50px;
        width: 100%;
        margin-left: 10%;
    }
    .list-cards-search .search-icon {
        position: absolute;
        left: 2.7em;
        top: 6.7em;
    }
    .giftcard-text {
        font-size: 22px;
    }
    .walletbalance-text {
        font-size: 20px;
    }
    .price {
        font-size: 22px;
    }
    .select-country-custom-select {
        width: 100% !important;
    }
}
